# Database Configuration
DATABASE_URL='postgresql://neondb_owner:npg_ZMULreyu09jK@ep-summer-bush-ahd3jw2v-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# Server Configuration
PORT=5000
NODE_ENV=development
